<% provide(:title, "About") %>
<h1>Why are you here?</h1>
<p>
  My main reason for this blog is that I find myself questioning a lot of things. I never really write any of it done, and there is no way that I can expect myself to remember everything that I discuss.
</p>
<p>
  This is more like a journal where I can hopefully interact with others. 
</p>

<h3>What this site is</h3>
<p>
  <ul>
    <li>A free forum to express contsructive beliefs.</li>
    <li>A collection of ideas that are open to intellectual debate.</li>
    <li>A place for education of those who wish to be educated or who wish to educate others.</li>
  </ul>
</p>
<h3>What this site is NOT</h3>
<ul>
  <li>A place to spread hate and intolerance</li>
  <li>It is not based solely off of one religion</li>
</ul>