<div class="center jumbotron">
  <h1>The Wild Philosophy Blog</h1>
  <p>Full of my rantings, ravings, and spiritual exploration. I don't expect to find the meaning of life, but I would like to discuss it.</p>
  
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
