<footer>
  <small>
    <strong>Wild Philosophy Blog</strong> by Geoff Wild
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>